<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riddle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    
<div>
<h1 id="colorful-heading">Riddle</h1>
</div>
<div id="riddle">
<div class="left-card">
    <p>
        <%=riddle %>
    </p>
</div>
<div class="right-card">
<p>
    <%=answer %>
</p>
</div>
</div>

<form action="/" method="GET">
    <input type="submit" value="New Riddle">
  </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        const heading = $("#colorful-heading");
        const text = heading.text();
        heading.html('');

        text.split('').forEach(letter => {
            const span = $("<span></span>");
            span.text(letter);
            heading.append(span);
        });
    });
</script>
</body>
</html>