:root{ 
    --Dark-green: #037e37;
    --Green: #05ba12;
    --Light-green: #70f01f;
    --Black: #332d2d;
    --Off-white: #F8F7F3;
    --Cream: #ececec;
    --Purple: #551a8b;
    --Dark-purple: #370566;
    --font-family: 'Plus Jakarta Sans', sans-serif;
    --card-height: 50vh;
    --card-width: calc(var(--card-height)/ 1.25);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    text-align: center;
}

h1{
    font-size: 1.75rem;
    letter-spacing: 4px;
    font-weight: bold;
}

h1 span{
    color: var(--Dark-green);
}

h1 span:nth-child(1) {
    color: var(--Black);
}

h1 span:nth-child(2) {
    color: var(--Green);
}

h1 span:nth-child(3) {
    color: var(--Light-green);
}

h1 span:nth-child(4) {
    color: var(--Purple);
}

h1 span:nth-child(5) {
    color: var(--Dark-purple);
}

#riddle{
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    gap: 20px;
}

.left-card, .right-card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 8px;
    padding: 0 30px;
    display: flex;
    color: var(--Cream);
    font-size: 1.25rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
}

.left-card{
    background: url("../images/static-assets-upload15802845043326249302.webp") center/cover no-repeat;
}

.right-card {
    background: url("../images/Group\ 65.png") center/cover no-repeat;
}

.left-card::before, .right-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Use the same background as the card */
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
    opacity: 1;
}

.left-card:hover::before, .right-card:hover::before{
    opacity: 0.5; /* Change the opacity on hover */
}

.left-card p, .right-card p{
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.left-card:hover p, .right-card:hover p {
    opacity: 1;
}

input {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    font-size: 0.9rem;
    background: grey;
    padding: 1rem;
    color: var(--Off-white);
    font-weight: 200;
    cursor: pointer;
  }

